class Form extends Component {
  state = {
    name: ''
  }

  handleSubmitClick = () => {
    const name = this.state.name;
    // do something with `name`
  }

  handleInputChange = ({ value }) => {
    // keep updating state here as user types
    this.setState({ name: value })
  }

  render() {
    return (
      <div>
        <input onChange={this.handleInputChange} type="text" value={this.state.name} />
        <button onClick={this.handleSubmitClick}>Sign up</button>
      </div>
    );
  }
}